<label>What is your age?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.age" value="18-30">
            18 - 30 years old
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.age" value="31-50">
            31 - 50 years old
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.age" value="51-65">
            51 - 65 years old
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.age" value="Beyond 65">
            Beyond 65 years old
        </label>
    </div>
</div>
<div class="form-group">
    <label>I am currently:</label>
    <select multiple class="form-control" ng-model="formData.status">
        <option>Studying</option>
        <option>Working</option>
        <option>Retired</option>
        <option>Taking a break</option>
    </select>
</div>
<div class="input-group">
    <label>My annual income is:</label>
    <input type="text" class="form-control" ng-model='formData.income' numbers-only decimal-upto="2" allow-negative="false">
</div>
<br>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="profile.preferences" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>